<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom"><%= page_header %></h2>
  </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/home">首页</a></li>
    <li class="breadcrumb-item active"><%= page_header %></li>
  </ul>
</div>