<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>九叔去哪儿科技股份有限没责任公司 &copy; 2019-ever</p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Design by Bootstrapious.More uncle9 <a href="https://www.uncle9.top/" target="_blank" title="模板之家">不拉拉</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">后台管理</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
  </div>
</footer>